[submodule "node/packages/inter-state-ts"]
	path = node/packages/inter-state-ts
	url = https://github.com/specfocus/inter-state-ts.git
[submodule "csharp/inter-state-cs"]
	path = csharp/inter-state-cs
	url = https://github.com/specfocus/inter-state-cs.git
[submodule "csharp/inter-state-cs.tests"]
	path = csharp/inter-state-cs.tests
	url = https://github.com/specfocus/inter-state-cs.tests.git
[submodule "resources/RulesEngine"]
	path = resources/RulesEngine
	url = https://github.com/microsoft/RulesEngine.git
[submodule "resources/xstate"]
	path = resources/xstate
	url = https://github.com/statelyai/xstate.git
[submodule "resources/docs"]
	path = resources/docs
	url = https://github.com/statelyai/docs.git
[submodule "resources/xstate-viz"]
	path = resources/xstate-viz
	url = https://github.com/statelyai/xstate-viz.git
[submodule "resources/xstate-tools"]
	path = resources/xstate-tools
	url = https://github.com/statelyai/xstate-tools.git
[submodule "resources/assets"]
	path = resources/assets
	url = https://github.com/statelyai/assets.git
[submodule "resources/workflow-spec"]
	path = resources/workflow-spec
	url = https://github.com/statelyai/workflow-spec.git
[submodule "resources/public-assets"]
	path = resources/public-assets
	url = https://github.com/statelyai/public-assets.git
[submodule "resources/xstate-python"]
	path = resources/xstate-python
	url = https://github.com/statelyai/xstate-python.git
[submodule "resources/stately-tutorials"]
	path = resources/stately-tutorials
	url = https://github.com/statelyai/stately-tutorials.git
[submodule "resources/schemas"]
	path = resources/schemas
	url = https://github.com/statelyai/schemas.git
[submodule "resources/stately-github-app"]
	path = resources/stately-github-app
	url = https://github.com/statelyai/stately-github-app.git
[submodule "resources/xstate-parser"]
	path = resources/xstate-parser
	url = https://github.com/statelyai/xstate-parser.git
[submodule "resources/xactor"]
	path = resources/xactor
	url = https://github.com/statelyai/xactor.git
[submodule "resources/exercises"]
	path = resources/exercises
	url = https://github.com/statelyai/exercises.git
[submodule "resources/xstate-next-ts-tutorial"]
	path = resources/xstate-next-ts-tutorial
	url = https://github.com/statelyai/xstate-next-ts-tutorial.git
[submodule "resources/maui-angular-interop"]
	path = resources/maui-angular-interop
	url = https://github.com/alyssamichelle/maui-angular-interop.git
[submodule "resources/MAUI-JS-Interop"]
	path = resources/MAUI-JS-Interop
	url = https://github.com/alyssamichelle/MAUI-JS-Interop.git
[submodule "node/packages/jest-presets"]
	path = node/packages/jest-presets
	url = https://github.com/specfocus/jest-presets.git
[submodule "node/packages/logger"]
	path = node/packages/logger
	url = https://github.com/specfocus/logger.git
[submodule "node/packages/eslint-config-custom"]
	path = node/packages/eslint-config-custom
	url = https://github.com/specfocus/eslint-config-custom.git
[submodule "node/packages/eslint-config-custom-server"]
	path = node/packages/eslint-config-custom-server
	url = https://github.com/specfocus/eslint-config-custom-server.git
[submodule "node/packages/tsconfig"]
	path = node/packages/tsconfig
	url = https://github.com/specfocus/tsconfig.git
[submodule "csharp/inter-dom-forms-4-cs"]
	path = csharp/inter-dom-forms-4-cs
	url = https://github.com/specfocus/inter-dom-forms-4-cs.git
[submodule "csharp/inter-dom-controls-4-cs"]
	path = csharp/inter-dom-controls-4-cs
	url = https://github.com/specfocus/inter-dom-controls-4-cs.git
[submodule "csharp/inter-js-blazor-7-cs"]
	path = csharp/inter-js-blazor-7-cs
	url = https://github.com/specfocus/inter-js-blazor-7-cs.git
